
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #24272E; 
}

header{
	background: #c7ff33;
}

header > h1 {
	color: #24272E;
	text-align: center;
	font-family: Asap,sans-serif;
}

.score-board{
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 2px;
	text-align: center;
	padding: 15px 20px;
	width: 200px;
	color: white;
	font-size: 46px;
	font-family: Asap,sans-serif;
	position: relative;

}

.badge{
	background: #E2584D;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
	font-family: Asap, sans-serif;
}

#player-label{
	position: absolute;
	top: 30px;
	left: -30px;
}

#computer-label{
	position: absolute;
	top: 30px;
	right: -45px;
}

.result{
	text-align: center;
	color: white;
}

.result > p {
   font-size: 30px;
   font-family: Asap, sans-serif;
   font-weight: bold;
}

.choices{
	text-align: center;
	margin-top: 50px;
}

.choice{
	display: inline-block;
	border: 4px solid white;
	border-radius: 50%;
	padding: 10px;
	margin: 0 20px;
	transition: all 0.3s ease;
}
.choice:hover{
	cursor: pointer;
	background: #c7ff33;
}

#action-msg{
	text-align: center;
	color: white;
	font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}
